<a href="https://colab.research.google.com/github/saminyc/flight-cost-estimation/blob/main/FlightPricePredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd

df = pd.read_csv('Clean_Dataset.csv')

In [32]:
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [33]:
df['airline'].value_counts()

airline
Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: count, dtype: int64

In [35]:
df['source_city'].value_counts()

source_city
Delhi        61343
Mumbai       60896
Bangalore    52061
Kolkata      46347
Hyderabad    40806
Chennai      38700
Name: count, dtype: int64

In [36]:
df['destination_city'].value_counts()

destination_city
Mumbai       59097
Delhi        57360
Bangalore    51068
Kolkata      49534
Hyderabad    42726
Chennai      40368
Name: count, dtype: int64

In [37]:
df['departure_time'].value_counts()

departure_time
Morning          71146
Early_Morning    66790
Evening          65102
Night            48015
Afternoon        47794
Late_Night        1306
Name: count, dtype: int64

In [38]:
df['arrival_time'].value_counts()

arrival_time
Night            91538
Evening          78323
Morning          62735
Afternoon        38139
Early_Morning    15417
Late_Night       14001
Name: count, dtype: int64

In [40]:
df['stops'].value_counts()

stops
one            250863
zero            36004
two_or_more     13286
Name: count, dtype: int64

In [41]:
df['class'].value_counts()

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [42]:
# Flight maximum duration
df['duration'].max()

49.83

In [44]:
# Flight median duration
df['duration'].median()

11.25

In [45]:
# Flight minimum duration
df['duration'].min()

0.83

<h2>Preprocessing</h2>

In [46]:
df = df.drop(['Unnamed: 0', 'flight'], axis=1)

In [48]:
df

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,Vistara,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,Vistara,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,Vistara,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [ ]:
# Class to binary and stops to numeric

In [50]:
df['class'] = df['class'].apply(lambda x: 1 if x == 'Business' else 0)

In [59]:
df['stops'] = pd.factorize(df['stops'])[0]

In [65]:
columns_to_encode = ['source_city', 'destination_city', 'departure_time', 'arrival_time']
prefixes = ['source', 'dest', 'departure', 'arrival']

for col, prefix in zip(columns_to_encode, prefixes):
  encoded_col = pd.get_dummies(df[col], prefix=prefix)
  df = pd.concat([df, encoded_col], axis=1)
  df = df.drop(col, axis=1)

In [66]:
df

,airline,stops,class,duration,days_left,price,source_Bangalore,source_Chennai,source_Delhi,source_Hyderabad,...,departure_Evening,departure_Late_Night,departure_Morning,departure_Night,arrival_Afternoon,arrival_Early_Morning,arrival_Evening,arrival_Late_Night,arrival_Morning,arrival_Night
0,SpiceJet,0,0,2.17,1,5953,False,False,True,False,...,True,False,False,False,False,False,False,False,False,True
1,SpiceJet,0,0,2.33,1,5953,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
2,AirAsia,0,0,2.17,1,5956,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
3,Vistara,0,0,2.25,1,5955,False,False,True,False,...,False,False,True,False,True,False,False,False,False,False
4,Vistara,0,0,2.33,1,5955,False,False,True,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,1,1,10.08,49,69265,False,True,False,False,...,False,False,True,False,False,False,True,False,False,False
300149,Vistara,1,1,10.42,49,77105,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
300150,Vistara,1,1,13.83,49,79099,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
300151,Vistara,1,1,10.00,49,81585,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
300152,Vistara,1,1,10.08,49,81585,False,True,False,False,...,False,False,True,False,False,False,True,False,False,False

In [70]:
df = df.join(pd.get_dummies(df.airline, prefix='airline')).drop('airline',axis=1)

In [72]:
df = df.replace({True: 1, False: 0})

In [73]:
df

,stops,class,duration,days_left,price,source_Bangalore,source_Chennai,source_Delhi,source_Hyderabad,source_Kolkata,...,arrival_Evening,arrival_Late_Night,arrival_Morning,arrival_Night,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara
0,0,0,2.17,1,5953,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,0,2.33,1,5953,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
2,0,0,2.17,1,5956,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,2.25,1,5955,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,2.33,1,5955,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,1,1,10.08,49,69265,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
300149,1,1,10.42,49,77105,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
300150,1,1,13.83,49,79099,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
300151,1,1,10.00,49,81585,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
300152,1,1,10.08,49,81585,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [76]:
has_null_values = df.isnull().any().any()

if has_null_values:
  print("The DataFrame contains null values.")
else:
  print("The DataFrame does not contain null values.")

The DataFrame does not contain null values.